:root {
    --bg-color: skyblue;
    --bg-container: rebeccapurple;
    --bg-game: red;
    --border-top-left: 4px solid rgba(0,0,0,0.25);
    --border-bottom-right: 4px solid rgba(0,0,0,0.5);
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    box-sizing: content-box;
}

.grid-container {
    margin: 0 auto;
    height: auto;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--bg-container);
}

.game-grid {
    display: grid;
    /* width of: 
        square (100px) * 4
        + border-width (4px) * 2 * 4
        (top & bottom or left & right of each square border)
        = 432px
    */
    width: 432px;
    height: 432px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
    background: var(--bg-game);
}

.bonus {
    position: relative;
    font-size: 0.75rem;
}

.game-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-top: var(--border-top-left);
    border-left: var(--border-top-left);
    border-bottom: var(--border-bottom-right);
    border-right: var(--border-bottom-right);
    font-size: 3rem;
    text-align: center;
}

.game-over {
    grid-column: span 4;
    grid-row: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background: gold;
}

#usedWords {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 25%;
}